@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px; /* For WebKit browsers */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: "#1db954";
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: "#1db954";
}
